*{
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(122, 122, 122);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 0in;
    box-sizing: border-box;
    list-style: none;
}
.navbar{
    background-color: aquamarine;
    width: 100%;
    height: 50px;
}
.navbar img{
    width: 150px;
}

.navbar h1{
    text-align: center;
    float: right;
}